includeConfig 'conf/base.config'

profiles {
  
    local_docker {
        process.executor = 'local'
        docker.runOptions='-u $(id -u):$(id -g)'
        docker.enabled = true
        process.container = 'bioinformant/ghru-amr-prediction:1.0'
    }

    conda {
        conda.enabled = true
        singularity.enabled = false
        docker.enabled = false 

        process {
            withName: 'RESFINDER|RESFINDER_DB|POINTFINDER_DB' {
                conda = "/fs/project/PAS0471/jelmer/conda/resfinder-4.1.11"
            }
            withName: 'PLASMIDFINDER|PLASMIDFINDER_DB' {
                conda = "/fs/ess/PAS0471/jelmer/conda/plasmidfinder-2.1.6"
            }
            withName: 'VIRULENCEFINDER|VIRULENCEFINDER_DB' {
                conda = "/fs/ess/PAS0471/jelmer/conda/virulencefinder"
            }

        }
    }

}
