includeConfig 'conf/base.config'

profiles {
  
    conda {
        conda.enabled = true
        singularity.enabled = false
        docker.enabled = false 

        process {
            withName: 'RESFINDER|RESFINDER_DB|POINTFINDER_DB' {
                conda = "/fs/project/PAS0471/jelmer/conda/resfinder-4.1.11"
            }
            withName: 'PLASMIDFINDER|PLASMIDFINDER_DB' {
                conda = "/fs/ess/PAS0471/jelmer/conda/plasmidfinder-2.1.6"
            }
            withName: 'VIRULENCEFINDER|VIRULENCEFINDER_DB' {
                conda = "/fs/ess/PAS0471/jelmer/conda/virulencefinder"
            }

        }
    }

}
