// Default parameter values
params {
    outdir          = "results/ghru_finder"
    pipeline_info   = "${params.outdir}/pipeline_info"
    file_pattern    = '*fasta'
    skip_point      = false
    res_cov         = 0.9
    res_id          = 0.9
    virulence_cov   = 0.6
    virulence_id    = 0.9
    plasmid_cov     = 0.6
    plasmid_id      = 0.9
}

// Processes
process {
  cpus              = 1
  memory            = '4G'
  errorStrategy     = { task.attempt <= 1 ? "retry" : "terminate" }
  maxRetries        = 1
}


// Reports
timeline {
  enabled           = true
  file              = "${params.pipeline_info}/execution_timeline.html"
}
report {
  enabled           = true
  file              = "${params.pipeline_info}/execution_report.html"
}
dag {
  enabled           = true
  file              = "${params.pipeline_info}/pipeline_dag.png"
}
trace {
  enabled           = true
  file              = "${params.pipeline_info}/pipeline_stats.txt"
  fields = "task_id,\
  hash,\
  process,\
  tag,\
  status,\
  exit,\
  start,\
  container,\
  cpus,\
  time,\
  disk,\
  memory,\
  duration,\
  realtime,\
  queue,\
  %cpu,\
  %mem,\
  rss,\
  vmem,\
  rchar,\
  wchar"
}
